.App {
  display: flex;
  flex-direction: column; /* Arrange sections in a column */
  height: 100vh; /* Use the full height of the viewport */
}

.container1 {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: calc(33.33% - 20px); 
  padding: 10px;
  border: 4px solid #32ef07;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box; 
  background-color:rgb(203, 241, 164);
  color:#2a2a2a;
  font-weight: bold;
}
.container2 {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: calc(33.33% - 20px); 
  padding: 10px;
  border: 3px solid #ff0000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box; 
  background-color:rgb(248, 85, 79);
  color:#2a2a2a;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
